# --- CONFIGURAÇÕES AZURE ---
DB_URL_AZURE=
DB_USERNAME_AZURE=
DB_PASSWORD_AZURE=

# --- CREDENCIAIS DE SEGURANCA ---
JWT_SECRET=
API_SECURITY_TOKEN_ISSUER=

# --- CONFIGURAÇÕES LOCAIS ---
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# --- CONFIGURAÇÕES PARA DOCKER COMPOSE ---
# Nota: Utilizado 'db' como host porque é o nome do serviço no docker-compose
DOCKER_DB_URL=
DOCKER_DB_USERNAME=
DOCKER_DB_PASSWORD=
DOCKER_DB_NAME=